/* Style the top navigation bar */

*
{
    margin: 0;
    padding: 0;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b9b9b9;
}

ul.topnav li {
  float: left;
}


.company
{
   
    background-color: #04aa6d;
    padding: 14px 16px;
    font-weight: bolder;
    font-size:x-large;
    width: 20vw;
    text-align: center;
}

ul.topnav li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #91d69a;
}

ul.topnav li a.active {
  background-color: #04aa6d;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}